apiVersion: batch/v1
kind: Job
metadata:
  name: minio-init
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: mc
          image: minio/mc:latest
          envFrom:
            - secretRef:
                name: ridely-secrets
          command:
            - /bin/sh
            - -c
            - |
              until mc alias set local http://minio:9000 $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD; do echo "waiting..."; sleep 2; done;
              mc mb -p local/$S3_BUCKET || true;
              mc anonymous set download local/$S3_BUCKET || true;
              echo "initialized"
